/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}


.navigationtopcontainer {
	
	height: 50px;
	width: 95%;
	background: green;
	margin-left: 8%;
	font-family: 'LFT_Etica_Bold';
	font-size: 12px;
	letter-spacing: 1px;
	
	
}